{% extends 'base.html.twig' %}

{% block title %}Hello BonjourController!{% endblock %}

{% block body %}

    <form method="post">
        <input type="text" name="route" placeholder="votre name">
        <input type="submit">
    </form>

    <h3>salut, <u>{{ leNom }}</u> </h3>

    <a class="btn btn-primary" href="{{ path('bonjour') }}">Retour a bonjour</a>

{% endblock %}
